@{
    ViewData["Title"] = "500 - Server Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center mt-5">
    <h1 class="display-4 text-danger">500</h1>
    <p class="lead">Възникна вътрешна грешка в сървъра. Моля, опитайте отново по-късно.</p>
    <a href="/" class="btn btn-primary">Обратно към началната страница</a>
</div>
